* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}
.container {
  /* width: 40%; */
  width: 31.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  transform-style: preserve-3d;
  min-height: 80vh;
  width: 31rem;
  border-radius: 30px;
  padding: 3rem 5rem 4rem;
  box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0px 0px 50px rgba(0,0,0,0.2);
}
.sneaker {
  min-height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}
.sneaker img {
  width: 20rem;
  z-index: 2;
  transition: all 0.75s ease-out;
}
.circle {
  width: 15rem;
  height: 15rem;
  background: linear-gradient(
    to right,
    /* rgba(245,70,66,0.75),
    rgba(8,83,156,0.75) */
    rgb(161, 138, 114),
    rgb(242, 139, 107)
  );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}
.info h1 {
  font-size: 2rem;
  transition: all 0.75s ease-out;
}
.info h3 {
  font-size: 1.1rem;
  padding: 2rem 0rem;
  color: #585858;
  font-weight: lighter;
  transition: all 0.75s ease-out;
}
.sizes {
  display: flex;
  justify-content: space-between;
  transition: all 0.75s ease-out;
}
.sizes button{
  padding: 0.5rem 2rem;
  background: none;
  border: none;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  color: #585858;
  outline: none;
}
button.active {
  background-color: #585858;
  color: white;
}
.purchase {
  margin-top: 3.5rem;
}
.purchase button {
  width: 100%;
  padding: 1rem 0rem;
  background: #f54642;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bolder;
  transition: all 0.75s ease-out;
}

@media screen and (max-width: 590px) {
  .card {
    width: 20rem;
  }
  .info h1 {
    position: absolute;
    top: 2rem;
    left: 2rem;
    right: 2rem;
  }
  .sizes {
    position: absolute;
    bottom: 8.5rem;
    left: 1.5rem;
    right: 1.5rem;
  }
  .sneaker {
    position: absolute;
    top: 10rem;
    left: 2rem;
    right: 2rem;
  }
  .sizes button {
    padding: 1rem 1rem;
  }
  .purchase button {
    position: absolute;
    bottom: 2rem;
    width: 90%;
    left: 1rem;
  }
}
@media screen and (max-width: 500px) {
  /* .card {
    width: 26rem;
  } */
}
@media screen and (max-width: 375px) {
  .container {
    width: 85%;
  }
  .card {
    padding: 0rem 1.5rem;
    min-height: 55vh;
  }
  .circle {
    width: 10rem;
    height: 10rem;
  }
  .sneaker {
    min-height: 20vh;
  }
  .sneaker img{
    width: 15rem;
  }
  .info h1 {
    font-size: 1.5rem;
  }
  .info h3 {
    font-size: 0.7rem;
  }
  .sizes button {
    padding: 0.4rem 1.3rem;
  }
  .purchase {
    margin-top: 2.5rem;
  }
}
@media screen and (max-height: 790px) {
  .circle {
    width: 12rem;
    height: 12rem;
  }
  .sneaker img {
    width: 17rem;
  }
}
@media screen and (max-height: 765px) {
  .sizes {
    margin-top: 2rem;
  }
  .info h3 {
    display: none;
  }
}
@media screen and (max-height: 660px) {
  .circle {
    width: 10rem;
    height: 10rem;
  }
}